<body onload="initialize()">
  <div class="container">
    <div id="earth_div"></div>
  </div>
</body>
<script src="http://www.webglearth.com/v2/api.js"></script>
<script>
  function initialize() {
    var earth = new WE.map('earth_div');
    earth.setView([-33.867916, 151.205969], 4);
    WE.tileLayer('http://data.webglearth.com/natural-earth-color/{z}/{x}/{y}.jpg', {
      tileSize: 256,
      bounds: [[-85, -180], [85, 180]],
      minZoom: 0,
      maxZoom: 16,
      attribution: 'WebGLEarth example',
      tms: true
    }).addTo(earth);

    var tweets = [
      ["@Jae-Hee: Wheee", -33.867916, 151.205969],
      ["@Serene: Help", -40.99497, 174.50808],
		  ["@Josh: Calm", -41.49413, 173.5421],
		  ["@God: Save Us All", -40.98585, 174.50659]
    ];

    for (var i = 0; i < tweets.length; i++) {
      var [message, lat, lng] = tweets[i]
      var marker = WE.marker([lat, lng], '/assets/Twitter.png', 30, 30).addTo(earth);
      marker.bindPopup(message);
    }
  }
</script>
