<h1>Viral Tags</h1>
<p>Search for a hash tag.</p>

<form action="">
  <input type="text" name="" value="" placeholder="#hashtag">
  <input type="submit" name="" value="Search">
</form>

<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-text="custom share text"
  data-url="https://dev.twitter.com/web/tweet-button"
  data-hashtags="example,demo"
  data-via="twitterdev"
  data-related="twitterapi,twitter">
Tweet
</a>
<p> <%= @result.length %></p>
<p> <%= @biebertweets%></p>
<p> <%= @location %></p>
