<body onload="initialize()">
  <div class="container">
    <div id="earth_div">
      <form action="/pages/globe" class="searchBar" >
        <input type="text" name="address" placeholder="Search for a location" class="searchInput">
        <button class="searchButton">Search</button>
      </form>
    </div>
  </div>
</body>
<script src="http://www.webglearth.com/v2/api.js"></script>
<script>
  let earth;
  function initialize() {
    var options = {
          sky: true,
          dragging: true,
          tilting: true,
          zoom: 2
        };
    earth = new WE.map('earth_div', options);
    WE.tileLayer('http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg', {
          minZoom: 0,
          maxZoom: 5,
          attribution: 'NASA'
        }).addTo(earth);
    earth.setView([-33.869830, 151.208557], 2);

  }
  const setView = function(zoom) {
    earth.setView([-33.869830, 151.208557], zoom);
  }
</script>
