body {
  background: #e6ecf0;
  color: #14171a;
  font-size: 14px;
  line-height: 20px;
  overflow-y: scroll;
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E6ECF0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #E6ECF0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #E6ECF0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #E6ECF0;
}

//////////////////////////////////////////////////
/// NAV START
/////////////////////////////////////////////////

nav {
  display: inline-block;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  margin-top: 14px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

// .topbar {
//   backface-visibility: hidden;
//   border-bottom: 1px solid #e6ecf0;
//   border-bottom: 1px solid rgba(0,0,0,0.05);
//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 0;
//   z-index: 1000;
// }

.global-nav {
  border-bottom: 1px solid rgba(0,0,0,0.25);
  height: 46px;
  position: relative;
  width: 100%;
  margin-top: -14px;
}

.global-nav-inner {
  background: #fff;
  height: 100%;
}

.global-nav .container {
    height: 100%;
    max-width: 890px;
    text-align: center;
    width: auto;
}

/////////////////////////////////////////
/// NAV END
/////////////////////////////////////////

.bottomContainer {
  min-height: 450px;
  padding: 10px 12px;
  width: 50%;
  background: #FFF;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 960px;
  // background-color: #fff;
  text-align: center;
}

.searchBar {
  padding: 10px 12px;
  width: 50%;
  margin: 0 auto;
  background-color: #E8F4FB;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchButton {
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  outline: none;
  margin-left: 5px;
}

.searchInput {
  color: #1B95E0;
  width: 361px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 16px;
  background-color: #FFF;
  line-height: 20px;
  border: 1px solid rgba(0,132,180,0.5);
  border-radius: 8px;
  box-shadow: none;
  font-size: 14px;
  vertical-align: top;
  outline: none;
}


.twitter-share-button{
  text-decoration: none;
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #1B95E0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
}

/////////////////////////////////////////
/// graph start
//////////////////////////////////////////

#vis-container {
  margin-top: 50px;
}

h1 {
  margin-top: 50px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: none;
}

circle.dot:hover {
  color:red;
}

.tooltip {
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
}

////////////////////////////////////////
/// graph ends
////////////////////////////////////////
