body {
  background: #e6ecf0;
  color: #14171a;
  font-size: 14px;
  line-height: 20px;
  overflow-y: scroll;
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

// E6ECF0

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(0,132,180,0.5);
  -webkit-text-fill-color: #1da1f2;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

// changes colour of input placeholder text
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #383A3B;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #383A3B;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #383A3B;
}
:-moz-placeholder { /* Firefox 18- */
  color: #383A3B;
}

//////////////////////////////////////////////////
/// NAV START
/////////////////////////////////////////////////

nav {
  display: inline-block;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  margin-top: 14px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

// .topbar {
//   backface-visibility: hidden;
//   border-bottom: 1px solid #e6ecf0;
//   border-bottom: 1px solid rgba(0,0,0,0.05);
//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 0;
//   z-index: 1000;
// }

.global-nav {
  border-bottom: 1px solid rgba(0,0,0,0.25);
  height: 46px;
  position: relative;
  width: 100%;
  margin-top: -14px;
}

.global-nav-inner {
  background: #fff;
  height: 100%;
}

.global-nav .container {
    height: 100%;
    max-width: 890px;
    text-align: center;
    width: auto;
}

/////////////////////////////////////////
/// NAV END
/////////////////////////////////////////

.bottomContainer {
  min-height: 450px;
  padding: 10px 12px;
  width: 50%;
  background: #FFF;
  margin: 0 auto;
  min-width: 300px;
}

.container {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 960px;
  // background-color: #fff;
  text-align: center;
}

.searchBar {
  padding: 10px 12px;
  position: fixed;
  left: 25vw;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
  justify-content: center;
}

.searchButton {
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  outline: none;
  margin-left: 5px;
}

.searchButton:hover {
  background-color: #0084b4;
}

.searchInput {
  color: #1B95E0;
  width: 361px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 16px;
  background-color: black;
  line-height: 20px;
  border: 1px solid rgba(0,132,180,0.5);
  border-radius: 8px;
  box-shadow: none;
  font-size: 14px;
  vertical-align: top;
  outline: none;
}


.twitter-share-button{
  text-decoration: none;
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #1B95E0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
}

/////////////////////////////////////////
/// graph start
//////////////////////////////////////////

#vis-container {
  margin-top: 50px;

}

h1 {
  margin-top: 50px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: none;
}

circle.dot:hover {
  color:red;
}

.tooltip {
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
}

a:hover{
  color: #0084b4;
}
////////////////////////////////////////
/// graph ends
////////////////////////////////////////

/////////////////////////////////////////
/////////////Globe///////////////////////
/////////////////////////////////////////

#earth_div{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  position: absolute !important;
  height: 100vh;
}
#info {
  color: white;
  font-size: 14px;
  position: absolute;
  background-color: none;
  padding: 20px;
  top: 730px;
  margin-left: 20%;
}

#description {
  color: white;
  font-size: 24px;
  position: absolute;
  padding: 20px;
  line-height: 24px;
}

.zoombuttons {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}
#zoombuttons button {
  padding: 10px;
  font-size: 40px;
  line-height: 20px;
}
#range {
  color: white;
}
.minusplus {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#tweetbox {
  max-height: 500px;
  max-width: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: scroll;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px;
}
#tweetbox span {
  color: #1B95E0;
  font-weight: bold;
}


#geoLocationResultsContainer {
  margin-top: 50px;
}
